{% extends 'base.html.twig' %}


{% block metatitle %}
    Pokemon : form
{% endblock %}

{% block body %}

    {% if app.request.method == 'POST' %}
        <p>Submitted</p>
    {% endif %}


    {{ form_start(pokemonForm) }}

        <div class="test">

            {{ form_row(pokemonForm.title) }}

        </div>

        {{ form_row(pokemonForm.image) }}

        {{ form_row(pokemonForm.description) }}

        {{ form_row(pokemonForm.type) }}

        {{ form_row(pokemonForm.valider) }}

    {{ form_end(pokemonForm) }}


{% endblock %}